Repository bozdoz/bozdoz.com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, docker:image

test:
  image: node:10-alpine
  script:
  - npm ci
  - npm test

docker:image:
  stage: build
  image: docker:stable-dind
  script:
  - export TAG=$([[ $CI_COMMIT_REF_NAME = 'master' ]] && echo "latest" || echo $CI_COMMIT_REF_NAME)
  - docker build -t $CI_REGISTRY_IMAGE:$TAG .
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $CI_REGISTRY_IMAGE:$TAG

also add the docker service
  .gitlab-ci.yml
Due: docker:image

update docker build from gitlab recommended
  .gitlab-ci.yml
Due: docker:image

try again
  .gitlab-ci.yml
Due: docker:image

first go at docker swarm
  .gitignore
  .gitlab-ci.yml
  Dockerfile
  bin/build.sh
  bin/deploy.sh
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  package.json
Due: docker:image

update docker FROM; update deploy script for sh; better docker login
  .gitlab-ci.yml
  Dockerfile
  bin/deploy.sh
Due: docker:image

clean up some docker stuff
  .dockerignore
  .gitignore
  bin/start.sh
  docker-compose.yml
Due: docker:image

removes docker-compose dev stuff; adds HEALTHCHECK
  .env-example
  Dockerfile
  docker-compose.dev.yml
  docker-compose.yml
Due: docker:image

rename some confs
  .env-example
  bin/deploy.sh
  docker-compose.yml
  nginx/bozdoz.com.conf
  nginx/nginx.conf
Due: none

remove health check
  Dockerfile
Due: docker:image

healthcheck gone
  Dockerfile
Due: docker:image

try clearing cache
  Dockerfile
Due: docker:image

make sure to update services
  bin/deploy.sh
Due: none

CMD needs to be single command
  .dockerignore
  Dockerfile
  bin/deploy.sh
  bin/start.sh
Due: docker:image

try adding --with-registry-auth to update image
  bin/deploy.sh
Due: none

try to join public directory from web with static directory for nginx
  docker-compose.yml
Due: none

test cache-busting docker image
  src/pages/index.md
Due: test, docker:image

use slug instead of name for automated pulls
  .gitlab-ci.yml
Due: docker:image

fix titles etc, because apparently it worked all along :ghost:
  src/pages/index.md
Due: test, docker:image

true code editor style: scroll to the window's height past the last line
  src/css/_page.scss
Due: test, docker:image

wtf is going on
  src/css/_page.scss
Due: test, docker:image

actual rolling updates
  .dockerignore
  Dockerfile
  bin/deploy.sh
  bin/entrypoint.sh
  bin/start.sh
  docker-compose.yml
  src/css/_page.scss
Due: test, docker:image

prettier on style.scss
  src/css/style.scss
Due: test, docker:image

adds rsync to entrypoint
  bin/entrypoint.sh
Due: none

updates to docker
  .dockerignore
  .env-example
  Dockerfile
  docker-compose.yml
  nginx/nginx.conf
  package-lock.json
  package.json
  tsconfig.json
Due: docker:image

update vscode settings
  .vscode/settings.json
Due: none

conditional google analytics
  src/client.tsx
  src/components/GoogleAnalytics.tsx
  src/components/Head.tsx
  src/components/ServerTemplate.tsx
  src/data/site_variables.js
Due: test, docker:image

move setupTests
  .dockerignore
  setupTests.ts
Due: docker:image

some adjustments for docker
  .gitlab-ci.yml
  bin/entrypoint.sh
  package.json
Due: docker:image

a bunch of opinionated security and style changes
  .gitlab-ci.yml
  Dockerfile
  nginx.conf
  package-lock.json
  package.json
  public/images/strava-white.svg
  src/client.tsx
  src/components/Brand.tsx
  src/components/FrontMatter.tsx
  src/components/MainNav.tsx
  src/components/ScrollToTop.tsx
  src/components/ServerTemplate.tsx
  src/components/SocialNav.tsx
  src/components/getPage.ts
  src/components/pages/ResumePage.tsx
  src/css/_header.scss
  src/css/_layout.scss
  src/css/_mixins.scss
  src/css/_page.scss
  src/css/_reset.scss
  src/css/_typography.scss
  src/css/_variables.scss
  src/css/style.scss
  src/data/resume.ts
  src/dev-server.tsx
  src/pages/index.md
  src/server.tsx
Due: test, docker:image

fix to tests and entrypoint permissions
  .dockerignore
  Dockerfile
  __tests__/App.test.js
  bin/entrypoint.sh
  src/components/Breadcrumbs.tsx
  src/dev-server.tsx
Due: test, docker:image

remove npm stdout
  Dockerfile
Due: docker:image

add proper window types; clean getPage & FrontMatter
  src/client.tsx
  src/components/FrontMatter.tsx
  src/components/GoogleAnalytics.tsx
  src/components/getPage.ts
  src/components/global.d.ts
  src/components/layouts/PageLayout.tsx
  src/components/types.d.ts
Due: test, docker:image

cleanup MarkDown
  src/components/MarkDown.tsx
Due: test, docker:image

removes more window as any
  src/components/global.d.ts
  src/components/pages/ProjectPage.tsx
Due: test, docker:image

remove some jsdoc types
  src/components/ServerTemplate.tsx
  src/components/Title.tsx
  src/components/pages/ProjectPage.tsx
  src/server.tsx
Due: test, docker:image

fix ts issues
  package.json
  src/components/Head.tsx
  src/components/ServerTemplate.tsx
  src/components/types.d.ts
Due: test, docker:image

updates typescript; actually uses tslint to fix type issues;
  package-lock.json
  package.json
  src/client.tsx
  src/components/Breadcrumbs.tsx
  src/components/FrontMatter.tsx
  src/components/MarkDown.tsx
  src/components/ServerTemplate.tsx
  src/components/Title.tsx
  src/components/getPage.ts
  src/components/layouts/PageLayout.tsx
  src/components/pages/NotFoundPage.tsx
  src/dev-server.tsx
  src/server.tsx
  tsconfig.json
  tslint.json
Due: test, docker:image

fix ts-node mess
  .vscode/settings.json
  package-lock.json
  package.json
  src/client.tsx
  src/components/types.d.ts
  src/typings/global.d.ts
  tsconfig.json
  webpack.config.babel.js
Due: test, docker:image

Revert "fix ts-node mess"
  .vscode/settings.json
  package-lock.json
  package.json
  src/client.tsx
  src/components/global.d.ts
  src/components/types.d.ts
  tsconfig.json
  webpack.config.babel.js
Due: test, docker:image

actual fix to ts-node mess
  package.json
  webpack.config.babel.js
Due: none

Path conditions:
  test: any of: src/**/*
  docker:image: any of: src/**/*, Dockerfile, .gitlab-ci.yml, .dockerignore
