Repository bozdoz/bozdoz.com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, docker:image

.gitlab-ci.yml:

variables:
  GIT_DEPTH: 5

stages:
  - test
  - build
  - deploy

test:
  image: node:10-alpine
  script:
    - npm ci
    - npm test
  only:
    changes:
      - __tests__/**/*
      - src/**/*

docker:image:
  stage: build
  variables:
    # When using dind service we need to instruct docker, to talk
    # with the daemon started inside of the service. The daemon is
    # available with a network connection instead of the default
    # /var/run/docker.sock socket.
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay
    # This will instruct Docker not to start over TLS.
    DOCKER_TLS_CERTDIR: ""
  image: docker:19.03.1
  services:
    - docker:19.03.1-dind
  before_script:
    - echo $CI_BUILD_TOKEN | docker login -u gitlab-ci-token $CI_REGISTRY --password-stdin
  script:
    - export TAG=$([[ $CI_COMMIT_REF_NAME = 'master' ]] && echo "latest" || echo $CI_COMMIT_REF_SLUG)
    - docker pull $CI_REGISTRY_IMAGE:$TAG || true
    - docker build --cache-from $CI_REGISTRY_IMAGE:$TAG -t $CI_REGISTRY_IMAGE:$TAG .
    - docker push $CI_REGISTRY_IMAGE:$TAG
  only:
    changes:
      - src/**/*
      - Dockerfile
      - .gitlab-ci.yml
      - .dockerignore

.deploys:
  image: bozdoz/fabric-deployment
  stage: deploy
  script:
    - fab gitpull npmbuild
  after_script:
    - apk add curl
    - |
      curl "https://api.cloudflare.com/client/v4/zones/$CF_ZONE/purge_cache" \
      -H "Authorization: Bearer $CF_TOKEN" \
      -H "Content-Type: application/json" \
      -d "{\"purge_everything\": true}"

deploy:
  extends:
    - .deploys
  variables:
    CWD: ~/bozdoz.com/v2
  environment:
    name: production
    url: https://bozdoz.com
  only:
    - master

deploy_staging:
  extends:
    - .deploys
  variables:
    CWD: ~/staging-bozdoz/staging-bozdoz
  environment:
    name: staging
    url: https://staging.bozdoz.com
  only:
    - staging

bump some problematic packages
  package-lock.json
  package.json
Due: none

update social icons
  public/images/codepen.svg
  public/images/github.svg
  public/images/stack-overflow.svg
  public/images/strava-white.svg
  public/images/strava.svg
  src/components/MainNav.tsx
  src/components/SocialNav.tsx
  src/css/_header.scss
Due: test, docker:image

change static to public for consistency
  Dockerfile
  bin/entrypoint.sh
  docker-compose.yml
  nginx/nginx.conf
Due: docker:image

update dockerignore
  .dockerignore
Due: docker:image

make sure tests are on the same docker image
  .gitlab-ci.yml
Due: docker:image

move docker commands to a more cache-able sequence
  Dockerfile
Due: docker:image

moves app test
  __tests__/components/App.test.js
Due: test

don't remove container src files, I guess
  bin/entrypoint.sh
Due: none

console log live URL
  src/dev-server.tsx
Due: test, docker:image

removes PlainPage, replaces with FrontMatter component
  src/components/App.tsx
  src/components/Projects.tsx
  src/components/pages/AboutPage.tsx
  src/components/pages/IndexPage.tsx
  src/components/pages/PlainPage.tsx
  src/components/pages/ProjectPage.tsx
Due: test, docker:image

adds function names for debugging
  src/components/Brand.tsx
  src/components/Contact.tsx
  src/components/MainNav.tsx
  src/components/SocialNav.tsx
  src/components/layouts/Layout.tsx
  src/components/layouts/PageLayout.tsx
  src/components/pages/ResumePage.tsx
Due: test, docker:image

get page from router;
  src/components/FrontMatter.tsx
  src/components/pages/NotFoundPage.tsx
  src/components/types.d.ts
Due: test, docker:image

updates to about and tws
  src/pages/about.md
  src/pages/projects/typewrite-something.md
Due: test, docker:image

moves getMarkdown
  __tests__/components/App.test.js
Due: test

moves getMarkdown (again)
  src/server.tsx
  src/util/getMarkdown.ts
Due: test, docker:image

sitemap as tsx; uses new markdown; adds manual date modified
  src/components/Sitemap.jsx
  src/components/Sitemap.tsx
Due: test, docker:image

much better types
  src/components/FrontMatter.tsx
  src/components/Head.tsx
  src/components/MainNav.tsx
  src/components/MarkDown.tsx
  src/components/ScrollToTop.tsx
  src/components/layouts/PageLayout.tsx
  src/components/types.d.ts
Due: test, docker:image

adds published date and modified date, as a lame alternative to reading file info (git issues)
  src/pages/about.md
  src/pages/index.md
  src/pages/privacy.md
  src/pages/projects.md
  src/pages/projects/alberta-tomorrow.md
  src/pages/projects/leaflet-map.md
  src/pages/projects/luke-buxton.md
  src/pages/projects/typewrite-something.md
  src/pages/resume.md
Due: test, docker:image

moves about page; more restyling; mobile-first; updates jest;
  Dockerfile
  __tests__/components/App.test.js
  package-lock.json
  package.json
  src/components/App.tsx
  src/components/Brand.tsx
  src/components/MainNav.tsx
  src/components/Projects.tsx
  src/components/Sitemap.tsx
  src/components/SocialNav.tsx
  src/components/layouts/Layout.tsx
  src/components/layouts/PageLayout.tsx
  src/components/pages/AboutPage.tsx
  src/css/_header.scss
  src/css/_layout.scss
  src/css/_page.scss
  src/css/_reset.scss
  src/css/_variables.scss
  src/pages/about.md
  src/pages/index.md
  src/pages/projects/leaflet-map.md
Due: test, docker:image

adds accessibility, more mobile styles, more icons
  src/components/Brand.tsx
  src/components/Contact.tsx
  src/components/MarkDown.tsx
  src/components/SocialNav.tsx
  src/components/pages/ProjectPage.tsx
  src/css/_contact-list.scss
  src/css/_header.scss
  src/css/_page.scss
  src/css/_variables.scss
  src/css/style.scss
  src/pages/index.md
Due: test, docker:image

stop importing *
  __tests__/components/App.test.js
  setupTests.ts
  src/client.tsx
  src/components/App.tsx
  src/components/Brand.tsx
  src/components/Breadcrumbs.tsx
  src/components/Contact.tsx
  src/components/FrontMatter.tsx
  src/components/GoogleAnalytics.tsx
  src/components/Head.tsx
  src/components/MainNav.tsx
  src/components/MarkDown.tsx
  src/components/Projects.tsx
  src/components/ScrollToTop.tsx
  src/components/ServerTemplate.tsx
  src/components/Sitemap.tsx
  src/components/SocialNav.tsx
  src/components/TagList.tsx
  src/components/Title.tsx
  src/components/getPage.ts
  src/components/layouts/Layout.tsx
  src/components/layouts/PageLayout.tsx
  src/components/pages/IndexPage.tsx
  src/components/pages/LoadingPage.tsx
  src/components/pages/NotFoundPage.tsx
  src/components/pages/ProjectPage.tsx
  src/components/pages/ResumePage.tsx
  src/dev-server.tsx
  src/server.tsx
  src/util/getMarkdown.ts
  webpack.config.babel.js
Due: test, docker:image

fix page props
  src/components/FrontMatter.tsx
  src/components/Projects.tsx
  src/components/Sitemap.tsx
  src/components/global.d.ts
  src/components/layouts/PageLayout.tsx
  src/components/pages/IndexPage.tsx
  src/components/pages/LoadingPage.tsx
  src/components/pages/NotFoundPage.tsx
  src/components/pages/ProjectPage.tsx
  src/components/pages/ResumePage.tsx
  src/components/types.ts
  src/global.d.ts
  tsconfig.json
Due: test, docker:image

updates packages
  package-lock.json
  package.json
Due: none

adds TODO to update docker node and alpine
  Dockerfile
Due: docker:image

more styling changes; I don't know
  .gitignore
  bin/deploy.sh
  src/components/Brand.tsx
  src/components/MainNav.tsx
  src/components/layouts/Layout.tsx
  src/css/_header.scss
  src/css/_layout.scss
  src/pages/index.md
Due: test, docker:image

move to docker-compose
  .gitignore
  bin/deploy.sh
Due: none

removes docker swarm; sets up restart policy for compose
  .gitlab-ci.yml
  docker-compose.yml
Due: docker:image

move away from gitlab
  .github/workflows/production-deploy-workflow copy.yml
  .github/workflows/staging-deploy-workflow.yml
  .gitlab-ci.yml
Due: docker:image

gotta make them run
  .github/workflows/production-deploy-workflow copy.yml
  .github/workflows/staging-deploy-workflow.yml
Due: none

staging runs on staging
  .github/workflows/staging-deploy-workflow.yml
Due: none

rename workflow file
  .github/workflows/production-deploy-workflow.yml
Due: none

extra work on restyling; removed probably needless caching due to permissions
  .github/workflows/staging-deploy-workflow.yml
  .gitignore
  Dockerfile
  bin/entrypoint.sh
  docker-compose.yml
  nginx/nginx.conf
  src/components/MainNav.tsx
Due: test, docker:image

get rid of the dead stuff
  .vscode/settings.json
  __tests__/components/App.test.js
  package-lock.json
  package.json
  setupTests.ts
  tslint.json
Due: test

more dead tests
  .github/workflows/production-deploy-workflow.yml
  .github/workflows/staging-deploy-workflow.yml
Due: none

remove .vscode
  .gitignore
Due: none

remove marked
  bun.lock
  package.json
  src/data-utils/getMarkdown.ts
Due: test, docker:image
